@keyframes noteAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    70% {
        opacity: 0;
    }

    100% {
        transform: translateY(-60px);
        opacity: 0;
    }
}

.note {
    position: absolute;
    bottom: 35px;
    right: 20px;
    font-size: 24px;
    color: black;
    opacity: 0;
}