.pop {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


.custom-popover {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.custom-popover .popover-title {
    margin-top: 0;
}

.custom-popover .popover-text {
    margin-bottom: 0;
}