@import url('https://fonts.googleapis.com/css?family=Itim');

* {
    margin: 1.5px;
    padding: 0px;
}

body {
    font-family: 'itim', system-ui;
    /* background-color: #f0f0f0; */
    background-image: url(../asset/meadow.jpg);
    background-size: cover;
    background-position: center;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
    height: 100px;
    /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
    background-image: url('/asset/Twist.png');
    /* Ganti 'image.jpg' dengan path gambar Anda */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /* Untuk gambar lingkaran */
}


.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(../asset/Twist.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    backdrop-filter: blur(10px);
}

.groupcount {
    backdrop-filter: blur(10px);
    color: black;
}

.peoplecount {
    backdrop-filter: blur(10px);
    color: black;
}

/* CSS untuk input "Nama Tugas atau Mata Kuliah" */
#taskName {
    font-family: 'itim', system-ui;
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    /* Menghindari penambahan lebar input karena padding dan border */
}

label[for="taskName"] {
    display: block;
    backdrop-filter: blur(10px);
    margin-bottom: 5px;
    color: black;
}

textarea,
input[type="number"] {
    font-family: 'itim', system-ui;
    width: 97%;
    margin-bottom: 10px;
    padding: 6px 6px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* button {
    display: block;
    font-family: 'itim', system-ui;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FC9D0F;
    color: black;
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: 1s;

}

button:hover {
    background-color: #ffab2d;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    transition: 1s;

} */


button {
    background: #FC9D0F;
    font-family: 'itim', system-ui;
    font-size: 13px;
    padding: 0.7em 1.1em;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.2em 0.2em;
    cursor: pointer;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.25em 0.25em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}


.cursor-not-allowed {
    cursor: not-allowed;
}

/* END BUTTON */

#result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#result p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
}

#result p:first-child {
    margin-top: 0;
}

#result p:not(:first-child) {
    margin-top: 10px;
}

.group {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #005EEC;
}

.group:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.group h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: black;
}

.member {
    margin-left: 20px;
    font-weight: bold;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* background-color: #f0f0f0; */
    backdrop-filter: blur(10px);
    color: white;
    /* Warna latar belakang footer */
    padding: 15px 0;
    /* Padding atas dan bawah footer */
}