body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
    height: 100px;
    /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
    background-image: url('/asset/Wallpaper2.jpg');
    /* Ganti 'image.jpg' dengan path gambar Anda */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /* Untuk gambar lingkaran */
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url(./asset/Wallpaper2.jpg);
    /* filter: blur(10px); */
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
    backdrop-filter: blur(10px);
}

.groupcount {
    backdrop-filter: blur(10px);
    color: black;
}

.peoplecount {
    backdrop-filter: blur(10px);
    color: black;
}

/* CSS untuk input "Nama Tugas atau Mata Kuliah" */
#taskName {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    /* Menghindari penambahan lebar input karena padding dan border */
}

label[for="taskName"] {
    display: block;
    backdrop-filter: blur(10px);
    margin-bottom: 5px;
    color: black;
}

textarea,
input[type="number"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px 6px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #181616;
    color: white;
    font-weight: bold;
    border: none;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: 1s;

}

button:hover {
    background-color: #030303;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 0px;
    transition: 1s;

}

.cursor-not-allowed {
    cursor: not-allowed;
}


#result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#result p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
}

#result p:first-child {
    margin-top: 0;
}

#result p:not(:first-child) {
    margin-top: 10px;
}

.group {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.group:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.group h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.member {
    margin-left: 20px;
    font-weight: bold;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    /* Warna latar belakang footer */
    padding: 10px 0;
    /* Padding atas dan bawah footer */
}